<div class="page_positioning">
    <p>HARRY POTTER</p>

    <app-navigation></app-navigation>

    <div class="page_positioning--filter">
    <hr>
        <fieldset class="page_positioning--filter__positioning">
            <div>
                <input type="radio" id="all" name="house" value="all"
                checked
                (click)="onFilterHouse('')"
                > 
                <label for="all">All</label>
                </div>
            <div *ngFor="let house of eachHouseOnce">
            <input type="radio" id="{{ house }}" name="house" value="{{ house }}"
            (click)="onFilterHouse(house)"
            > 
            <label for="{{ house }}">{{ house }}</label>
            </div>
        </fieldset>
    <hr>
    </div>

    <div *ngFor="let character of (filteredList$ | async)">
        <ul class="list-style">
        <app-content-card [character]="character"></app-content-card>
    </ul>
    </div>
    <button type="button" (click)="LoadMoreCharacters()">Load more</button>
</div>
