.list-style {
    list-style: none;
}

button {
    padding: 10px 20px;
    background: rgba(71, 39, 35, 0.72);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;

    &:hover {
        background: rgba(71, 39, 35, 0.52);
    }
}

.page{

    &--headline {
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
    }

    &__positioning {
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    }

    &--filter {
        margin-top: 20px;
    }

    &--content {
        &__positioning {
            display: grid;
            grid-template-columns: 200px auto;
        }
    }
}

  .card-layout {
    border: 1px solid rgba(71, 39, 35, 0.15);
    margin: 15px;
    height: 180px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}