<div class="page__positioning">
    <p class="page--headline">HARRY POTTER</p>

    <app-navigation></app-navigation>
    <app-search-bar [handleResetFilters]="handleResetFilters"></app-search-bar>

    <div class="page--content__positioning">
        <div class="page--filter">
            <h2>Filter</h2>
            <hr>
            <app-filter-box 
            [title]="'houses'"
            [radios]="eachHouseOnce"
            ></app-filter-box>
            <app-filter-box 
            [title]="'ancestry'"
            [radios]="eachAncestryOnce"
            ></app-filter-box>
            <app-filter-box 
            [title]="'staff or student'"
            [radios]="staffOrStudent"
            ></app-filter-box>
        </div>

        <div>
            <div *ngFor="let character of filteredList ">
                <ul class="list-style">
                <app-content-card [character]="character"
                ></app-content-card>
                </ul>
            </div>
            <div class="card-layout" *ngIf="(lengthOfCharactersArray === 0)">there is no further content <br> please choose another filter</div>
            <button type="button" (click)="loadMoreCharacters()" *ngIf="(lengthOfCharactersArray > 4)">Load more</button>
        </div>
        
    </div>
</div>