<div class="page__positioning">
    <p>HARRY POTTER</p>

    <app-navigation></app-navigation>

    <div class="page--content__positioning">
        <div class="page--filter">
            <app-filter-box 
            [eachHouseOnce]="eachHouseOnce"
            [eachAncestryOnce]="eachAncestryOnce"></app-filter-box>
        </div>

        <div>
            <div *ngFor="let character of filteredList ">
                <ul class="list-style">
                <app-content-card [character]="character"
                ></app-content-card>
                </ul>
            </div>
            <div class="card-layout" *ngIf="(lengthOfCharactersArray === 0)">there is no further content <br> please choose another filter</div>
            <button type="button" (click)="LoadMoreCharacters()" *ngIf="(lengthOfCharactersArray > 4)">Load more</button>
        </div>
        
    </div>
</div>