<div class="card-layout">
    <div class="card-layout__positioning">
        <div>Species: {{character.species}}</div>
        <div>Patronus: {{character.patronus}}</div>
        <div>House: {{character.house}}</div>
        <div>Anestry: {{character.ancestry}}</div>
        <div>Eye colour: {{character.eyeColour}}</div>
        <div>Hair colour: {{character.hairColour}}</div>
    </div>
    <div class="card-layout__positioning">
        <h4>Wand</h4>
        <div>Core: {{character.wand.core}}</div>
        <div>Length: {{character.wand.length}}</div>
        <div>Wood: {{character.wand.wood}}</div>
    </div>
</div>
