<section class="card-layout" [ngStyle]="{'border-radius': active ? '5px 5px 0 0' : '5px'}">
    <div class="card-layout__picture--positioning">
        <img  [src]="character.image" style="width: 100px;height: auto;">
    </div>
    
    <div> 
        <h4>{{ character.name }} </h4>
            ({{ character.actor }})
            <br>
        <i>{{ character.alternate_names }}</i>
    </div>

    <app-like [handOverId]="character.id"></app-like>

    <div class="card-layout__alive--positioning">
        <app-alive [aliveState]="character.alive" ></app-alive>
        <app-show-more-button 
            [character]="character" 
            [active]="active"
            (click)="onShowMoreInfo(character.id)"> 
        </app-show-more-button>
    </div>
</section>

<div *ngIf="active">
    <app-further-info [character]="character" ></app-further-info>
</div>
